@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --bg-app: #F3F4F6;
  --bg-header: #1F2937; /* Черный графит */
  
  /* Текст */
  --text-primary: #111827;
  --text-secondary: #6B7280;
  
  /* Акцент */
  --accent-lime: #a3e635;
  --accent-lime-hover: #84cc16;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--bg-app);
  color: var(--text-primary);
  font-family: var(--font-sans), sans-serif;
  overflow: hidden;
}

@layer utilities {
  .shadow-soft {
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0,0,0,0.02);
  }
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}